$border-color: #E7E7EC;
$blue-primary: #5888DB;
$blue-secondary: #F2F6FE;
$white: #FFFFFF;
$dark-secondary: #F1F1F5;
$yellow-primary: #FABE5F;
$text-color-primary: #3C4557;
$text-color-secondary: #707888;
$green-primary: #07A88D;